<ul class="tabs">
  <li>
    <%= form_tag('/tasks', method: :post, remote: true) do %>
    <%= text_field_tag(:name, nil, placeholder: 'New task') %>
    <% end -%>
  </li>
  <% @tasks.each_with_index do |task, index| %>
  <li class="<%='active' if index == 0%><%=' last' if index == @tasks.size-1%>">
    <%= render task %>
  </li>
  <% end %>
</ul>
<div class="task-time">  <%= format_logged(@task.logged) %></div>
<%= link_to 'delete task', tasks_path(id: @task.id, format: 'js'), class: 'task-delete', remote: true, method: :delete %>
<div class="subtask-create">
  <%= form_tag('/subtasks', method: :post, remote: true) do %>
    <%= text_field_tag(:name, nil, placeholder: 'New task') %>
    <%= hidden_field_tag(:task_id, "<%=@tasks.empty? ? 0 : @tasks.first.id}") %>
  <% end -%>
</div>

<div class="taskpane">
    <%= render @task.subtasks %>
</div>
